body{
    margin:auto;
    padding: auto;
    background-image : linear-gradient(rgba(233, 157, 106, 0.5), rgba(1, 28, 53, 0.7) );
    background-size: cover;
    background-repeat: no-repeat;
}

#logo{
    margin: 0.5rem;
    border: 3px solid rgb(6, 102, 126);
    border-radius: 50%;
    height: 5rem;
    width:5rem;
}
.nav-item{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin:auto;
}
#home{
    margin:0.5rem;
    padding: 1rem;

}
#bio{
     
    margin-left: 10rem;   
    padding:1.5rem; 
    
    background: rgba(64, 85, 104, 0.9);
    border: 2px solid #3ab5ca;
    border-radius:25px;
   
    text-align: right;
    color:  #e5faec;
}
#myPhoto{
    width: 20rem;
    position: absolute;
    top: 5rem;
    right: 5rem;
    padding: 1rem;
    background: #e5faec;
    border-radius: 50%;
    border: 1px solid #3ab5ca;
}
button.btn {
    width: 40%;
    margin-top: 1rem;
    margin-left:45%
}
div.form-group{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    color:aliceblue

}
#contactForm{
    margin:0.5rem;
    padding: 1rem;
}
.caption{
    margin-top: 2.5%;    
    padding:1.5rem; 
    background: rgba(64, 85, 104, 0.9);
    border: 2px solid #3ab5ca;
    border-radius:25px;
    height: 20rem; 
    width: 60rem; 
    text-align: center;
    color:  #4cce77;
}

#skillsList{
    display:flex;
    justify-content: center;
    border-radius:25px;
    margin: 0.1rem;
    height:auto;
}
.card{
    margin: 1rem;
    border-radius:25px;
    width: 20%;
    display:flex;
    justify-content: center;
    background: rgba(251, 253, 249, 0.9);;
}
.card-body{
    border-radius:25px;
    height: 5rem;
  

}
#htmlLogo{
    background-image: url("./html5.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#reactLogo{
    background-image: url("./react.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    
}

#rubyLogo{
    background-image: url("./ruby.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#gitLogo{
    background-image: url("./git.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}